eureka:
  instance:
    hostname: gateway-service
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: false
    status-page-url: http://${eureka.instance.hostname}:${server.port}
    health-check-url: http://${eureka.instance.hostname}:${server.port}/actuator/health

spring:

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**

            - id: activity-service
              uri: lb://ACTIVITY-SERVICE
              predicates:
                - Path=/api/activities/**

            - id: ai-service
              uri: lb://AI-SERVICE
              predicates:
                - Path=/api/recommendations/**


server:
  port: 8080